.article
  margin: 0 auto
  padding: ms(2) 0
  display: flex
  flex-direction: column

  +e(title)
    font-size: ms(2)
    text-align: center
    +mq(medium)
      font-size: ms(3)

  +e(by)
    font-family: $font-family--primary
    font-style: italic
    text-align: center
    color: $moka
    margin: 0 auto
    position: relative
    +mq(medium)
      font-size: ms(1)

    &::before, &::after
      content: ''
      width: 70%
      height: 1px
      background: $moka
      display: block
      position: absolute
    &::before
      top: 50%
      left: -80%
    &::after
      top: 50%
      right: -80%

  h1, h2, h3, h4, h5, h6
    text-align: center
    margin: ms(-2) auto
    max-width: 85%

  p
    max-width: 85%
    margin: 0 auto
    +mq(medium)
      font-size: ms(1)
      max-width: 600px
    &:first-child::first-letter
      font-size: ms(6)
      float: left
      line-height: 1
      margin: 0 ms(-7) -16px ms(-10)
      +mq(medium)
        margin-bottom: -20px

  p + p
    margin-top: ms(0)
    text-indent: ms(1)

  figure
    margin: 0 auto
    display: block
  img
    max-width: 95%
    margin: ms(2) auto

    &[alt='Fullscreen'], &[alt='fullscreen']
      max-width: 100%

  pre
    background: #23241f
    padding: ms(0) 0

  code
   max-width: 85%
   margin: ms(0) auto
   word-wrap: break-word
   +mq(medium)
      max-width: 900px

  figcaption
    display: block
    margin: -(ms(0)) auto ms(0)
    text-align: center
    width: 50%
    border-bottom: 1px solid palette(gris, x-light)
    +mq(medium)
      max-width: 400px
