.header
  background: linear-gradient(rgba(141,131,79,0.50) 0%, rgba(37,27,27,0.50) 80%), url('../img/featured_image.png')
    size: cover
  color: $blanco
  position: relative
  +mq(large)
    background-position: 50%
  &::after
    content: ''
    position: relative
    display: block
    width: 100%
    height: 120px
    background: url('../img/rounded.svg') bottom no-repeat
    bottom: -1px

  +e(content)
    padding: ms(9) 0 0
    +mq(medium)
      padding-top: ms(10)
    +mq(large)
      padding-top: ms(12)

  +e(date)
    font-style: italic
    align-self: flex-end

  +e(info)
    position: absolute
    margin: 0 auto
    width: 100%
    +mq(small)
      bottom: 20px
    +mq(medium)
      bottom: 40px
    +mq(large)
      bottom: 70px

  +e(title)
    font-size: ms(2)
    text-align: center
    +mq(medium)
      font-size: ms(3)

  +e(by)
    font-family: $font-family--primary
    font-style: italic
    text-align: center
    color: $blanco
    margin: 0 auto
    position: relative
    +mq(medium)
      font-size: ms(1)

    &::before, &::after
      content: ''
      width: 70%
      height: 1px
      background: $blanco
      display: block
      position: absolute
    &::before
      top: 50%
      left: -80%
    &::after
      top: 50%
      right: -80%
