section.post
  
  a(href='#')
    .post__featured-img(href='#')
  
  .post__container
    .post__meta
      h6.post__meta--date Enero 2016
      span.post__meta--space ●
      h6.post__meta--tag Code
    
    h3.post__title Cool Gulp Workflows
    p.post__excerpt There's never been a better time for men to like clothes. But along with the rich variety of labels, styles, and stores speaking to guys
    a.post__read-more(href='#') Read More
