include ./_menu
include ./_header
include ./_article
include ./_author
include ./_share
include ./_footer


//- Scripts al final yeh
script(src='//code.jquery.com/jquery-2.2.0.min.js')
script(src='//cdn.jsdelivr.net/highlight.js/9.1.0/highlight.min.js')
script(src='js/app.js')
