section.author
  .container
    .row.vertical
      .author__pic
        img(src='../img/author.jpg', alt='Miguel Palau')
      h3.author__by Written by
      h2.author__name Miguel Palau
      p.author__bio Former freerunner, code-lover, pizza eater, videogame playing monster.
      a.author__url(href='http://www.miguel.click', target='_blank') www.miguel.click
