section.share
  .container
    .row.vertical
      .share__dots
      h3.share__title Share this post
      .share__social
        a.share__social--item.facebook(href='#') Facebook
        a.share__social--item.twitter(href='#') Twitter
        a.share__social--item.googleplus(href='#') Google+
